<section class="border warning">
  <h3 class="m-4"> Add Recipe</h3>
  <%= form_with url: recipes_path, scope: :recipe do |form| %>
    <div class="m-4">
    <%= form.label :Name, class:"form-label" %><br>
    <%= form.text_field :name, class: 'form-control', require: true %>
    </div>

    <div class="m-4">
    <%= form.label :preparation_time, class:"form-label" %><br>
    <%= form.number_field :preparation_time, class: 'form-control', require: true %>
    </div>

    <div class="m-4">
    <%= form.label :cooking_time, class:"form-label" %><br>
    <%= form.number_field :cooking_time, class: 'form-control', require: true %>
    </div>

    <div class="m-4">
    <%= form.label :description, class:"form-label" %><br>
    <%= form.text_field :description, class: 'form-control', require: true %>
    </div>

    <%= form.submit "Submit", class: "btn btn-warning m-4" %>
  <% end %>
</section>